*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#fdf6ff;        
  color:#333;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#ffffff;
  border-bottom:1px solid #e6d8ff;
  position:sticky;
  top:0;
  z-index:10;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.logo{
  font-size:32px;
  font-weight:bold;
  color:#c36bff;
  margin-top: 14px;
}

.nav-right a{
  text-decoration:none;
  color:#666;
  margin-left:18px;
  font-weight:500;
  transition:0.3s;
}

.nav-right a:hover{
  color:#c36bff;
  transform:translateY(-2px);
}

.nav-right .active{
  color:#a948ff;
  font-weight:bold;
  font-size: 20px;
}

.search-wrap input{
  padding:10px 15px;
  width:278px;
  border:1px solid #d9c9ff;
  border-radius:20px;
  outline:none;
  transition:0.3s;
  float: right;
  margin-right: 5px;
}

.search-wrap input:focus{
  border-color:#b380ff;
  box-shadow:0 0 5px #dfccff;
}

.stories{
  display:flex;
  gap:18px;
  padding:20px;
  overflow-x:auto;
}

.story{
  text-align:center;
  transition:0.3s;
}

.story img{
  width:75px;
  height:75px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #f5e7ff;
  box-shadow:0 4px 12px rgba(0,0,0,0.12);
  transition:0.3s;
}

.story img:hover{
  transform:scale(1.12);
}

.story span{
  display:block;
  margin-top:6px;
  font-size:13px;
  color:#555;
}

.masonry{
  column-count:3;
  column-gap:18px;
  padding:20px;
}

.pin{
  width:92%;
  height: 90%;
  margin-bottom:18px;
  display:inline-block;
  background:white;
  border-radius:12px;
  overflow:hidden;
  border:1px solid #e8dfff;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  transition:0.35s;
}

.pin:hover{
  transform: translateY(-8px);
  box-shadow:0 12px 22px rgba(0,0,0,0.15);
}

.pin img{
  width:100%;
  display:block;
}

.pin-overlay{
  padding:12px;
}

.pin-overlay h3{
  font-size:15px;
  margin-bottom:5px;
  color:#333;
}

.pin-actions {
  font-size:12px;
  color:#8a63b3;
}

.board-card {
  background:white;
  padding:12px;
  border-radius:12px;
  border:1px solid #e8dfff;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  transition:0.3s;
  width: 70%;
  margin-left: 20px;
  margin-bottom: 20px;
  }

.board-card:hover{
  transform: translateY(-6px);
  box-shadow:0 12px 20px rgba(0,0,0,0.15);
}

.footer{
  text-align:center;
  padding:25px;
  color:#777;
  font-size:14px;
  margin-top:20px;
}


.img{
  width: 10%;
  height: 10%;
}

.image{
  width: 10%;
  height: 10%;
}

.left{
  margin-left: 20px;
}

.avatar{
  border-radius: 100%;
  height: 7%;
  width: 7%;
}

.profile-pins{
  margin-left: 20px;
}

.profile-head{
  margin-left: 20px;
}

.h2{
  margin-left: 20px;
}

.image1{
  margin-top: 20px;
}

.auth-page{
  text-align: center;
}

.auth-left{
  margin-top: 50px;
}

.logo1{
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 3px solid white;
}

.form{
  color: #a948ff;
  font-size: 40px;
}

.sign{
  font-size: 30px;
  color: #6f4f92;
}

.input{
  font-size: 20px;
  color: #6a2aae;
}

input{
  height: 25px;
}

.tagline{
  color: #a948ff;
  font-size: 17px;
}

.btn{
  background-color: #b380ff;
  border: none;
  border-radius: 20%;
  height: 50px;
  width: 100px;
}

.login{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.placeholder{
  color: #876fa1;
}

.a{
  margin-left: 20px;
  color: #b380ff;
}

.logo2{
  height: 55px;
  width: 55px;
  margin-top: 4px;
  margin-right: 10px;
}

.logo3{
  display: flex;
}

.search{
  height: 40px;
  font-size: 17px;
}

.b, .pr, .po, .h{
  font-size: 19px;
}
